* {margin: 0; padding: 0;}

body {
	background: url('./img/Bitmap.png') center, url('./img/backround.png'), url(./img/led.png);
	background-size: 100%;
	font-family: 'Poppins', sans-serif;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 100vh;
}

header {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	margin-left: 33px;
	margin-right: 31px;
	margin-top: 27px;
}

.header-logo {
	margin-top: 10px;
}

.header-button {
	width: 140px;
	height: 45px;
	color: white;
	font-family: 'Montserrat';
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	background: none;
	border: 2px solid white;
	border-radius: 50px;
	cursor: pointer;
	outline: none;
	transition: opacity 100ms;
}

.header-button:hover {
	opacity: 0.7;
}

.header-button:active {
	border: 2px solid grey;
}

.formSection {
	margin: auto;
}

.formSection-header {
	color: white;
	text-align: center;
	font-size: 32px;
	font-weight: 500;
	letter-spacing: -0.53px;
	line-height: 37px;
	margin-bottom: 45px;
}

form {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.form-inputs {
	display: flex;
	flex-direction: column;
}

.form-inputs input {
	border: 0;
	width: 322px;
	height: 10px;
	padding: 25px 34px;
	color: #142a49;
	font-family: "Poppins";
	font-size: 14px;
	font-weight: bolder;
	outline: none;
}

.form-inputs input::placeholder {
	color: #142a49;
}

.input-email {
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.input-password {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.form-resetPassword {
	color: #ffffff;
	font-family: 'Poppins';
	font-size: 16px;
	font-weight: 400;
	margin-top: 29px;
	margin-bottom: 33px;
	text-decoration: none;
}

.form-submitButton {
	margin: 0 auto;
	width: 251px;
	height: 45px;
	border-radius: 23px;
	background: linear-gradient(119deg, #99ee62 0%, #2cf6a7 100%);
	border: 0;
	font-family: "Montserrat";
	color: #233f54;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
	transition: opacity 100ms;
}

.form-submitButton:hover {
	opacity: 0.7;
}

.form-submitButton:active {
	border: 2px solid green;
}

.form-or {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 auto;
}

.form-or__line {
	width: 95px;
	height: 1px;
	background-color: white;
}

.form-or span {
	color: white;
	font-family: "Montserrat";
	font-size: 14px;
	font-weight: 500;
	margin: 19px 20px;
}

.form-signInButton {
	width: 264px;
	height: 55px;
	margin: 0 auto;
	color: white;
	font-family: "Montserrat";
	font-size: 11px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	border: 0;
	background: 0;
	cursor: pointer;
	transition: opacity 100ms;
	background-image: url('./img/button.png');
	background-position: center -2px;
	outline: none;
}

.form-signInButton span {
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-signInButton span p {
	margin-right: 15px;
}

.form-signInButton:hover {
	opacity: 0.7;
}

.videoSection {
	margin: auto;
	text-align: center;
}

.videoSection-header {
	color: #ffffff;
	font-family: "Poppins";
	font-size: 32px;
	font-weight: 500;
	letter-spacing: -0.53px;
	line-height: 37px;
	margin-bottom: 10px;
}

.videSection-text {
	color: #ffffff;
	font-family: "Poppins";
	font-size: 18px;
	font-weight: 500;
	letter-spacing: -0.3px;
	line-height: 26px;
}

.videoBlock {
	position: relative;
	width: 700px;
}

.videoOverlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 10;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}

.playButton {
	width: 65px;
	height: 65px;
	box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
	background-image: linear-gradient(180deg, #90ef68 0%, #0bbf7f 100%);
	border-radius: 50%;
	border: 0;
	cursor: pointer;
	outline: none;
}

.playButton:hover {
	opacity: 0.9;
}

.playButton-background {
	width: 71px;
	height: 71px;
	box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
	background-image: linear-gradient(180deg, #2cda9c 0%, #0bbf7f 100%);
	opacity: 0.5;
	border: 0;
	border-radius: 50%;
	cursor: pointer;
	z-index: -1;
	position: absolute;
	margin-left: -3px;
	margin-top: -3px;
}

.playButton-playimg {
	margin-top: 9px;
}

video {
	width: 700px;
}

.videoSource {
	width: 1094px;
	height: 1115px;
	background-image: url('./img/imaga.svg');
}

video {
	margin-bottom: 26px;
	margin-top: 35px;
}

.confirmButton {
	width: 184px;
	height: 45px;
	border: 0;
	box-shadow: 0 5px 15px rgba(37, 25, 76, 0.2);
	border-radius: 23px;
	background-color: #ffffff;
	color: #233f54;
	font-family: 'Montserrat';
	font-size: 11px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	cursor: pointer;
	display: block;
	margin: 0 auto;
	margin-top: 15px;
	outline: none;
	transition: opacity 100ms;
}

.confirmButton:hover {
	opacity: 0.5;
}

.confirmButton:active {
	border: 2px solid grey;
}

.confirmText {
	color: #ffffff;
	font-family: Poppins;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: -0.23px;
}

.rectanglesBlock {
	position: relative;
	bottom: 1100px;
	left: 60%;
}

.rectangle1 {
	position: absolute;
	width: 1016px;
	height: 1016px;
	transform: rotate(18deg);
	border-radius: 98px;
	background-color: #20f7ae;
	background-image: linear-gradient(186deg, #2cf6a7 0%, #99ee62 100%);
	opacity: 0.43;
	z-index: -1;
}

.rectangle2 {
	top: 60px;
	left: 70px;
	position: absolute;
	width: 1056px;
	height: 1056px;
	transform: rotate(24deg);
	border-radius: 98px;
	background-color: #20f7ae;
	opacity: 0.43;
	z-index: -2;
}

@media screen and (max-width: 600px) {
	body {
		background-size: auto;
	}

	header {
		flex-direction: column;
		align-items: center;
	}

	.header-logo {
		margin-bottom: 20px;
	}

	.form-inputs input {
		width: auto;
	}

  .rectanglesBlock {
		display: none;
	}

	.videoSection {
		margin: 0;
		margin-top: 30px;
	}

	.videoBlock {
		width: 300px;
		margin: 0 auto;
	}

	video {
		width: 300px;
	}
}